tensorflow
matplotlib
numpy
pandas
flask
scikit-learn
seaborn
plotly
ipykernel
tqdm 
tensorflow
matplotlib
numpy
pandas
flask
scikit-learn
seaborn
plotly
ipykernel
tqdm
langchain
langchain_community
langchain_groq
langchain_ollama
faiss-cpu
pypdf